/*  your css code here. If applicable */
body {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    gap: 2px;
}

.square {
    width: 14px;
    height: 14px;
    background-color: #1d1d1d;
    transition: background-color 1s ease;
    border-radius: 2px;
}
